.app {
  background-color: #111;
}

.navbar {
  display: flex;
  background-color: #000000;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 10px;
}

.logo h1 {
  color: red;
}


@media screen and (max-width: 400px) {
 body {
   width: 109vw;
 }
}